<body class="bg-dark">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-white">
        <h1 class="display-4 text-warning">Concour DJ</h1>
        <p class="lead">Voyer vos dj préférés de 2020 en direct!</p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header bg-secondary">
                    <h4 class="my-0 font-weight-normal text-white">Subtronics</h4>
                </div>
                <div class="card-body bg-light">
                    <iframe allowfullscreen="allowfullscreen" frameBorder="0"
                        src="https://www.youtube.com/embed/pWCjbhkPOKU">
                    </iframe>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header bg-secondary">
                    <h4 class="my-0 font-weight-normal text-white">Code:Pandorum</h4>
                </div>
                <div class="card-body bg-light">
                    <iframe allowfullscreen="allowfullscreen" frameBorder="0"
                        src="https://www.youtube.com/embed/2710UPtcIi4">
                    </iframe>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header bg-secondary">
                    <h4 class="my-0 font-weight-normal text-white">Truth</h4>
                </div>
                <div class="card-body bg-light">
                    <iframe allowfullscreen="allowfullscreen" frameBorder="0"
                        src="https://www.youtube.com/embed/9x3DFP6Xf4s">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</body>